<p><%= flash[:now] %></p>

<h1>トーク画面</h1>

<div>
  <%= link_to "ホームへ戻る", user_path(current_user) %>
</div>

<h2><%= @users[0].name %>さんとのトーク</h2>

<p><%= flash[:alret] %></p>

<div class="chats">
  <% if @messages.present? %>
    <% @messages.each do |m| %>
      <div class="chat">
        <div class="sender">
          <%= m.user.name %>
        </div>
        <div class="contents">
          <%= m.content %>
      </div>
    <% end %>
  <% else @messages.nil? %>
    "トークを始めましょう！"
  <% end %>
</div>


<div class="posts">
  <%= form_for @message, url: message_create_path, method: :post do |f| %>
    <%= f.text_field :content%>
      <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.submit "投稿",class: 'form-submit'%>
  <% end %>
</div>

